@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');

body{
	font-family: 'Lobster', cursive;
	font-family: 'OpenSans', sans-serif;
	background: #fff;
}
.menu{
	margin-top: 5px;
}
.logo{
	font-family: 'Lobster';
	font-size: 43px;
	color: #44c0c2;
	transition: 1s;
}
.logo:hover{
	font-family: 'Lobster';
	transition: 0.5s;
	font-size: 52px;
	position: relative;
	color: #44c0c2;
	text-decoration: none;
}
.navbar-default .navbar-nav>li>a{
	margin-top: 8px;
    font-family: 'OpenSans', sans-serif;
	font-size: 15px;
	color: #484c55;
	transition: 0.6s;
}
.navbar-default .navbar-nav>li>a:hover{	
	color: #44c0c2;
	border-bottom: 2px solid #44c0c2;
	padding: 20px;
	transition: 0.6s;
}
.burger{
    background-color: #44c0c2!important;
    border: none;
}
/*Карусельки*/
.image_slider{
	background-image: url(../imgs/slider.png);
	background-size: 100%;
	width: 100%;
	height: 566px;
	background-repeat: no-repeat;
}
.slogan{ 
	padding-top: 10%;
	font-size: 63px;
	color: #fff;
	text-shadow:  0px 0.5px 0px #000;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}
.small_slogan{
	font-size: 23px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
}
.small_slogan2{
	font-size: 23px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
}
.lrn_more{
	margin-top: 2%;
}
.learn{
	font-size: 23px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	border-radius: 5px;
	padding: 10px 32px;
	border: 2px solid #fff;
	transition: 0.8s;
}
.learn:hover{
	font-size: 30px;
	transition: 0.8s;
}
.carousel-inner>.item> img,
.carousel-inner>.item>a> img {
  width: 100%;
}
/* 1. */
.carousel-control,
.carousel-control:hover {
  filter: none;
  opacity: 1;
  text-shadow: none;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* 2. */
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  font-size: 16px;
  color: #49cbcd;
  height: 32px;
  line-height: 32px;
  margin-top: -15px;
  width: 32px;
}
/* 3. */
@media (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    font-size: 20px;
    height: 50px;
    line-height: 50px;  
    margin-top: -25px;
    width: 50px;
  }
}
/*Обустраивающие элементы*/
.option{
	margin-top: 40px;
	border: none;
}

.rocket {
	content: '';
	background: url('../imgs/rocket.png') no-repeat;
    width: 37px;
    height: 37px;
    margin: 0 auto;
    display: block;
    margin-top: 28px;
    transition: ease-out 0.8s;
}
.rocket:hover{
	transform: rotate(360deg);
	transition: ease-out 0.8s;
}
.visor {
	content: '';
	background: url('../imgs/visor.png') no-repeat;
    width: 37px;
    height: 37px;
    margin: 0 auto;
    display: block;
    margin-top: 28px;
    transition: ease-out 0.8s;
}
.visor:hover{
	transform: rotate(360deg);
	transition: ease-out 0.8s;
}
.bulb {
	content: '';
	background: url('../imgs/bulb.png') no-repeat;
    width: 37px;
    height: 37px;
    margin: 0 auto;
    display: block;
    margin-top: 28px;
    position: relative;
    left: 6px;
    transition: ease-out 0.8s;
}
.bulb:hover{
	transform: rotate(360deg);
	transition: ease-out 0.8s;
}
.tablet {
	content: '';
	background: url('../imgs/tablet.png') no-repeat;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    margin-top: 38px;
    position: relative;
    left: 6px;
    bottom: 5px;
    transition: ease-out 0.8s;
}
.tablet:hover{
	transform: rotate(360deg);
	transition: ease-out 0.8s;
}
.circle{
	border-radius: 50px;
	border: 3px solid #49cbcd;
	box-sizing: border-box;
	width: 102px;
    height: 102px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    transition: 0.8s;
}
.circle:hover{
	width: 122px;
    height: 122px;
    border-radius: 70px;
    transition: 0.8s;
}
.color{
	background: #49cbcd;
	border: none;
	font-family: 'OpenSans', sans-serif;
	transition: ease-out 0.5s;
}
.color:hover{
	font-size: 18px;
	transition: ease-out 0.5s;
}
.small-paragraph>p{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.bold-paragraph{
	font-size: 23px;
	padding: 14px;
    font-family: 'Open Sans', sans-serif;
}
/*Портфолио*/
h1{
	font-size: 42px;
	font-family: 'Open Sans', sans-serif;
	color: #4e525d;
}
.collage{
	margin-top: 35px;
}
.pad{
	padding: 8px;
}
.works{
	margin-top: 45px;
	background: #49cbcd;
	font-size: 24px;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding: 10px 20px;
	transition: ease-out 0.5s;
}
.works:hover{
	font-size: 30px;
	transition: ease-out 0.5s;
}
/*Команда*/
.team{
	margin-top: 100px;
	display: block;
}
.name{
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}
.small{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.members{
	border: none;
	padding: 3px;
}
.top{
	margin-top: 80px;
}
/*Тарифный план*/
.price{
	margin-top: 80px;
}
.panel{
	width: 100%;
	background: #485460;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	padding: 15px;
}
.panel:hover,
.buy:hover{
	background: #49cbcd;
}
.dollar{
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
}
.lorem{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 20px;
}
.buy{
	margin-top: 45px;
	background: #788492;
	font-size: 17px;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding: 8px 35px;
}
/*Слайдер*/
h3{
	margin-top: 100px;
	font-size: 42px;
	font-family: 'Open Sans', sans-serif;
	color: #4e525d;
}
.ipsum{
	margin-top: 10px;
	font-size: 19px;
	color: #4e525d;
}
.ipsum_sm, .visible-xs{
	margin-top: 10px;
	font-size: 17px;
	color: #4e525d;
}
.john{
	margin-top: 25px;
	font-size: 21px;
	color: #9a8faf;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.john, .visible-xs{
	margin-top: 25px;
	font-size: 21px;
	color: #9a8faf;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-left: 14px;
}
.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
  font-size: 19px;
  color: #4e525d;
  height: 32px;
  line-height: 32px;
  margin-top: 165px;
  width: 32px;
}
@media (min-width: 768px) {
  .carousel-control .glyphicon-menu-left,
  .carousel-control .glyphicon-menu-right, {
    font-size: 38px;
    height: 50px;
    line-height: 50px;  
    margin-top: -25px;
    width: 50px;

  }
}
/*Форма заполнения*/
.image{
	background-image: url(../imgs/base.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
}
.us{
	margin-top: 20px;
	font-size: 42px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.get{
	margin-top: 80px;
	font-size: 22px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
}
.dummy{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	opacity: 0.5;
	text-align: justify;
}
.industry{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	opacity: 0.5;
	text-align: justify;
}
.soc_btn{
	margin-left: 4px;
}
.input{
	margin-top: 80px;
	font-size: 16px;
}
.name{
	font-size: 16px;
}
.email{
	font-size: 16px;
}
.textarea{
	margin-top: 40px;
}
.message{
	border-radius: 6px;
	padding: 10px 10px;
	font-size: 16px;
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	max-height: 200px;
}
.send{
	margin-top: 10px;
	background: #49cbcd;
	font-size: 22px;
	border: none;
	font-family: 'Open Sans', sans-serif;
	padding: 6px 52px;
	transition: ease-out 0.5s;
}
.send:hover{
	font-size: 26px;
	transition: ease-out 0.5s;
}